<div class="modal-header">
  <button type="button" class="close" ng-click="relEC.cancel();" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Relação!!!!</h4>
</div>
<div class="modal-body">
  <div class="panel panel-default">
    <div class="panel-body">
      <form novalidate>
        <formly-form model="relEC.rel" fields="relEC.relFields" form="relEC.relForm">
        </formly-form>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer ">
  <button type="button " class="btn btn-primary " ng-click="relEC.ok()" ng-disabled="relEC.relForm.$invalid">Guardar</button>
</div>