<div class="modal-header">
  <button type="button" class="close" ng-click="linkEC.cancel();" aria-hidden="true">&times;</button>
  <h4 class="modal-title">{{linkEC.linkData.name}}</h4>
</div>
<div class="modal-body">
  <div class="panel panel-default">
    <div class="panel-body">
      <form novalidate>
        <formly-form model="linkEC.link" fields="linkEC.linkFields.fields" form="linkEC.linkForm">
        </formly-form>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer ">
  <button type="button " class="btn btn-primary " ng-click="linkEC.ok()" ng-disabled="linkEC.linkForm.$invalid">Guardar</button>
</div>
{{linkEC.link}}