<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <button type="button" class="btn btn-xs pull-right" ng-click="perVC.deletePerson()">Apagar</button>
        <button type="button" class="btn btn-xs pull-right btn-primary" ng-click="peoC.m.editPerson(peoC.m.activePerson.id);">Editar</button>
        <div class="col-md-1">
          <img style="width:70px" class="img-circle" ng-src="{{peoC.m.activePerson.picture}}" />
        </div>
        <div class="col-md-3">
          <h4>{{peoC.m.activePerson.name}}</h4>
        </div>
        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-3 control-label" for="field-1">Iniciais</label>
            <div class="col-sm-9">
              <label type="text" class="form-control"> {{peoC.m.activePerson.inicials}}</label>
            </div>
            <div class="row">
              <label class="col-sm-3 control-label" for="field-1">Outro nome(s) </label>
              <div class="col-sm-9">
                <label type="text" class="form-control"> {{peoC.m.activePerson.codeName}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="list-group list-group-minimal">
        <div deckgrid class="deckgrid" source="peoC.dm.allDocs" filter="{$: peoC.m.activePerson.id}">
          <div class="a-card">
            <a href ui-sref="app.documents.view({docId:card.id})" class="list-group-item">
              <h3> {{card.name}}  </h3>
              <img class="img-responsive" ng-src="/app/components/wtp.jpg" ng-show="!card.video.thumbUrl">
              <img class="img-responsive" ng-src="{{card.video.thumbUrl}}" ng-hide="!card.video.thumbUrl">

            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>