<div class="modal-header">
  <button type="button" class="close" ng-click="perEC.cancel();" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Dados da pessoa</h4>{{perEC.person}}
</div>
<div class="modal-body">
  <div class="panel panel-default">
    <div class="panel-body">
      <form novalidate>
        <formly-form model="perEC.person" fields="perEC.personFields" form="perEC.personForm">
        </formly-form>
      </form>
      <div>
        <img class="img-circle " ng-src="{{perEC.person.picture}} " />
        <button type="button " class="btn btn-info btn-xs " ng-click="perEC.addImage(); ">Alterar imagem</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer ">
  <button type="button " class="btn btn-primary " ng-click="perEC.ok()" ng-disabled="perEC.personForm.$invalid">Guardar</button>
</div>