<div class="input-group">
    <ui-select data-ng-model="model.linkedNode" data-required="true" theme="bootstrap">
        <ui-select-match placeholder="{{to.placeholder}}" data-allow-clear="true">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices data-repeat="option.id as option in to.options | filter: $select.search">
            <div ng-bind-html="option.name | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>
    <span class="input-group-btn">
    <button class="btn btn-default" type="button" ng-click = "lsC.newNode()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
    </span>
</div>