<div class="container">
  {{nodeVC.node}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <button type="button" class="btn btn-xs pull-right" ng-click="nodeVC.deleteNode()">Apagar</button>
        <button type="button" class="btn btn-xs pull-right btn-primary" ng-click="nodeVC.m.editNode(nodeVC.node);">Editar</button>
        <form novalidate>
          <formly-form model="nodeVC.node" fields="nodeVC.nodeFields.fields" form="nodeVC.nodeForm">
          </formly-form>
        </form>
      </div>
    </div>
  </div>
</div>