<nav class="navtab navbar-default navbar-fixed-top" ng-click="mainFilter = ''">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav nav-tabs" >
            <li> <a ng-click="doBack()"><i class="glyphicon glyphicon-backward"></i> </a></li>
            <li> <a ng-click="doForward()"><i class="glyphicon glyphicon-forward"></i></a></li>
            <li uib-btn-radio="'nodes'" ng-model="pageSelected"><a href ui-sref="app.nodes.list">Nodes</a></li>
            <li uib-btn-radio="'tags'" ng-model="pageSelected"><a href ui-sref="app.tags.list">Colecções</a></li>
            <li uib-btn-radio="'places'" ng-model="pageSelected"><a href ui-sref="app.places.list">Lugares</a></li>
            <li uib-btn-radio="'documents'" ng-model="pageSelected"><a href ui-sref="app.documents.list">Todos os documentos</a></li>
            <li class="pull-right"><a href="#"><i class="glyphicon glyphicon-user"></i> Sign Up</a></li>
            <li class="pull-right"><a href="#"><i class="glyphicon glyphicon-log-in"></i> Login</a></li>
            <li class="form-group pull-right">
                <input autofocus focus-on-show type="text" ng-show="pageSelected === 'all'" ng-model="mainFilter" placeholder="Pesquisar {{pageSelected}}"
                uib-typeahead="doc.name for doc in MC.dm.allDocs | filter:$viewValue | limitTo:10" uib-typeahead-on-select="goUrl($item.id,pageSelected); mainFilter = ''"
                uib-typeahead-min-length="2" placeholder="Pesquisar {{pageSelected}}" class="form-control" style="height:43px">
                <input focus-on-show type="text" ng-show="pageSelected === 'tags'" ng-model="mainFilter" uib-typeahead="doc.name for doc in MC.tm.allTags | filter:$viewValue | limitTo:10"
                uib-typeahead-on-select="goUrl($item.id,pageSelected); mainFilter = ''" uib-typeahead-min-length="2" placeholder="Pesquisar {{pageSelected}}"
                class="form-control" style="height:43px">
                <input focus-on-show type="text" ng-show="pageSelected === 'places'" ng-model="mainFilter" uib-typeahead="doc.name for doc in MC.plm.allPlaces | filter:$viewValue | limitTo:10"
                uib-typeahead-on-select="goUrl($item.id,pageSelected); mainFilter = ''" uib-typeahead-min-length="2" placeholder="Pesquisar {{pageSelected}}"
                class="form-control" style="height:43px">
                <input focus-on-show type="text" ng-show="pageSelected === 'documents'" ng-model="mainFilter" uib-typeahead="doc.name for doc in MC.dm.allDocs | filter:$viewValue | limitTo:10"
                uib-typeahead-on-select="goUrl($item.id,pageSelected); mainFilter = ''" uib-typeahead-min-length="2" placeholder="Pesquisar {{pageSelected}}"
                class="form-control" style="height:43px">
            </li>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
<div ng-click="mainFilter = ''">
    <ui-view></ui-view>
</div>